* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* global styling */
p {
    font-size: 14px;
}

h5 {
    font-size: 15px;
}

h1 {
    font-size: 25px;
}

/* end of global styling */

/* html, body { 
	height: 100%; 
}  */

.gfg { 
	height: 50px; 
	width: 50px; 

} 

.mynav { 
	color: #fff; 
} 

.mynav li a { 
	color: #fff; 
	text-decoration: none; 
	width: 100%; 
	display: block; 
	border-radius: 5px; 
	padding: 8px 5px; 
} 

.mynav li a.active { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a:hover { 
	/* background: rgba(255, 255, 255, 0.2);  */
    background-color: #202871;
} 

.mynav li a i { 
	width: 25px; 
	text-align: center; 
} 

.notification-badge { 
	background-color: rgba(255, 255, 255, 0.7); 
	float: right; 
	color: #222; 
	font-size: 14px; 
	padding: 0px 8px; 
	border-radius: 2px; 
}

.side-nav-color {
    background-color: #151a48 !important;
    border-radius: 0 0 20px 0;
    height: 45em;
}

button {
    background-color: #151a48 !important;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.main-color {
    background-color: #060d0d !important;
}

/* main */
.search-box {
    padding: 10px 100px !important;
}

.notfy-border {
    border: 3px solid blue;
    border-radius: 100%;
    padding: 4px 6px;
    font-size: 20px;
}

.profile-gap {
    column-gap: 20px;
}

.previous {
    color: #ffffff;
}

.previous-style {
    font-size: 15px;
    margin-top: 3px;
}

.previous-style a {
    text-decoration: none;
}

.col-1 {
    width: 79%;
    background-color: #151a48 !important;
    /* line-height: 2px; */
}

.col-2 {
    height: 34.5em;
    width: 20%;
    background-color: #151a48 !important;
}

.row {
    column-gap: 10px;
}

.space-btw {
    column-gap: 8px;
}

.log-out-button {
    margin-top: 11em;
}

.space-btw-2 {
    column-gap: 5px;
}

.box-size {
    width: 14px;
    height: 14px;
}

.profile-style {
    width: 50px;
    height: 50px;
}

.input-style {
    height: 50px;
    width: 25em;
}

.input-style-2 {
    height: 50px;
    width: 27em;
}

.input-style-3 {
    height: 50px;
    width: 830px;
}

.billing-input-style {
    height: 50px;
    width: 31em;
}

input {
    padding: 20px;
    font-size: 13px;
}

.icon-style {
    width: 35px;
    height: 15px;
}

.nav-icon-style {
    width: 15px;
    height: 15px;
}

.date-gap {
    column-gap: 70px;
}

.space-btw-3 {
    column-gap: 5px;
}

/* billing box */
.billing-info {
    border: 2px solid red;
}

.button-gap {
    column-gap: 30px;
}

.lh-1 {
    line-height: 1px !important;
}

/* phone responsiveness */
@media screen and (max-width: 425px) {
    .col-1 {
        width: 100%;
        background-color: #151a48 !important;
        display: flex;
        flex-direction: column;
    }

    .col-1-height {
        height: 96em;
    }

    .px-5 {
        padding: 0 2px !important;
    }

    .rental-padding {
        padding: 50px 0 0 0 !important;
    }
    
    .padding {
        padding: 0;
    }

    .padding-top {
        padding-top: 30px;
    }

    .time {
        display: flex;
        flex-direction: column;
    }

    .input-column {
        display: flex;
        flex-direction: column;
    }

    .input-style {
        height: 50px;
        width: 20em;
    }
    
    .input-style-2 {
        height: 50px;
        width: 20em;
    }

    .input-style-3 {
        height: 50px;
        width: 20em;
    }

    .billing-input-style {
        width: 20em;
    }

    .center {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .col-2 {
        margin-top: 20px;
        height: 35em;
        width: 70%;
    }

}

/* tablet responsiveness */
@media screen and (min-width: 425px) and (max-width: 850px) {
    .col-1 {
        width: 100%;
    }

    .input-style {
        height: 50px;
        width: 18em;
    }
    
    .input-style-2 {
        height: 50px;
        width: 23em;
    }
    
    .input-style-3 {
        height: 50px;
        width: 830px;
    }
    .ms-3 {
        padding-right: 40px;
    }

    .col-2 {
        height: 44.5em;
        width: 60%;
        margin: 30px 150px;
        margin-bottom: 10px;
    }

}
