*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { 
	 
	font-family: 'Montserrat', sans-serif;
    background-color: #09111a;
} 

.gfg { 
	height: 50px; 
	width: 50px; 

} 

.mynav { 
	color: #fff; 
} 

.mynav li a { 
	color: #fff; 
	text-decoration: none; 
	width: 100%; 
	display: block; 
	border-radius: 5px; 
	padding: 8px 5px; 
} 

.mynav li a.active { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a:hover { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a i { 
	width: 25px; 
	text-align: center; 
} 

.notification-badge { 
	background-color: rgba(255, 255, 255, 0.7); 
	float: right; 
	color: #222; 
	font-size: 14px; 
	padding: 0px 8px; 
	border-radius: 2px; 
}


.bg-col{
    background-color: #151A48 !important;
}

.btn-border{
	border: .1em solid white;
	background-color: #151A48;
	padding: 1em 2em;
	border-radius: .8em;
}

.side-dashboard{
    position: fixed;
    z-index: 50;
	left: 0;
} 

#curves{
	border-radius: 100px 50px 30px 5px;
}
/* Nav bar CSS */
nav{
    gap: 70px;
}
.back a{
	color: #FFFFFF;
}
.search{
	background-color: #1B255B;
	width: 590px;
	height: 40px;
	
	border-radius: 30px;
	color: #FFFFFF;
	/* padding: 16px, 25px, 16px, 25px; */
	padding-right: 40px;
	
}
.search input{
	background-color: #1B255B;
	border: none;
}
.search i{
	color: #FFFFFF;
	font-size: 20px;
	
}
.notification-icon{
	border: 2px solid #3B4ACF;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}
.user-img{
	border: 2px solid #9045F5;
	background: url(../assets/img/Ellipse_859.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search input{
	background-color: #1B255B;
	border: none;
}
.search i{
	color: #FFFFFF;
	font-size: 20px;
	
}

.content-m{
    color: #ffff;
    background-color: #151A48;
    height: 200vh;
    margin-left: 25%;
    width: 70%;
}
.first-card{
    background-color: #2c3799;
    height: 100vh;

}
.card-search{
    display: flex;
    align-items: center;
}
.card-search input{
    border: none;
    background-color: #323faf;
}

.form-container form{
    background-color: #323faf;
    width: 60%;
    height: 40px;
    color: #ffff;
    padding: 10px, 10px, 10px, 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
}
.form-container form input{
    height: 30px;

}
.search i{
    font-size: 18px;
 }
.admin-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: url(../assets/img/Ellipse\ 859.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 12px;
}
.admin-content h5{
    font-size: 13px;
   
}
.admin-content p{
    font-size: 15px;
}
.line{
    height: 5px;
    width: 100%;
    background-color: #151A48;
}
.first-card span{
    font-size: 13px;
    padding: 0 12px 12px 0;
}
.white-bag p{
    background-color: #fff;
    border-radius: 6px 6px;
    color: black;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.white-short-text p{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: black;
   width: 17%;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    border-radius: 6px 6px;
}
.text-blue-bg {
    background-color: #3b4acf;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px 6px;
    align-items: center;
    margin-top: 20px; 
    font-size: 12px; 
}
/* .bottom-time span{
    display:block;
    align-items: end;
    justify-content:end;
    margin-top: 10px;
} */

.text-dark-blue-bg p{
    background-color: #151A48;
    color: white;
    margin: auto;
    width: 20%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 30px;
    font-size: 12px;
}
.short-text{
    background-color: #3b4acf;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px 6px;
    align-items: center;
    margin-top: 20px;  
}
.text-dark-blue-bg-end p span{
    background-color: #151A48;
    color: white;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    padding: 0;
    font-size: 12px;
}
.text-dark-blue-bg-end {
   float: right;
   display: block;
    margin-top: 20px;
    padding: 0 10px;
    width: 60%;
    font-size: 12px;
}
.comment {
    background-color: #151A48; 
   float: right;
   display: flex;
   padding: 0 5px;
   margin: auto;
   width: 60%;
    font-size: 12px; 
    border-radius: 6px;
    margin-bottom: 15px;
}

.comment-b{
    display: flex;
    background-color:#151A48;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    float: right;
    border-radius: 6px;
    margin-top: 10px; 
}
.text-input{
   background-color: #151A48;
   /* margin-top: 30px; */
   width: 60%;
   border-radius: 8px 8px;
   padding: 15px;
   display: flex;
   justify-content: center;

}
.text-input input{
    background: none;
    border: none;
    width: 90%;
}
.text-mic-input{
    margin-top: 30px;
    
}
.mic-input {
    background-color: #3b4acf;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.second-card{
    background-color: #2c3799;
    height: 180vh;
}
/* mobile view */

@media only screen and (max-width: 767px)  {
    
    /* content-m{
        color: #ffff;
        background-color: #151A48;
        height: 200vh;
        margin-left: 25%;
        width: 100%;
        
    } */
    .content-m{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        background-color: #060d0d;
        margin-top: 200px;
        
    }
    .first-card{
        border-radius: 20px;
        
    }
    .second-card{
        background-color: #060d0d;
       
    }
    .white-bag p{
        width: 60%;
    }
    .text-blue-bg{
        padding: 6px;
        border-radius: 15px;
        
    }
    .text-blue-bg span{
        padding-top: 180px;
    }
    .text-dark-blue-bg{
        width: 50%;
    }
    .text-dark-blue-bg-end{
        background-color: #151A48;
        margin-bottom: 10px;
    }
    .comment-b{
        width: 50%;
    }
    .comment-b span{
        font-size: 10px;
    }
    .text-input{
        background-color: #151A48;
        /* margin-top: 30px; */
        width: 80%;
        border-radius: 8px 8px;
        padding: 15px;
        display: flex;
        justify-content: center;
     
     }
     .text-input input{
         background: none;
         border: none;
         width: 90%;
     }
    
}

