.navbar-toggler-icon {
    font-size: 20px !important;
    font-weight: 600;
}
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
}
.cta-button {
    padding: 12px 35px;
    font-size: 18px;
    background-color: #a517ba;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
    column-gap: 30px !important;    
    font-weight: 600 !important;

  }
  .cta-button:hover {
    background-color: transparent;
    border: 2px solid #5f1782;
    color: #5f1782 !importantit ;
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
  }
  .cta-section {
    margin: 20px 0;
  }
  textarea::placeholder {
    font-style: italic;
  }
  footer {
    background-color: #333;
  }
  .social-media-icons i:hover {
    color: #b970c4 !important;
  }
  .social-media-icons a {
    margin: 0 10px;
  }
  body h2 {
    color: #5f1782 !important;
  }

